
	<h1>编辑小程序</h1>
	<hr>
	<%= simple_form_for @app, html: { multipart: true } do |f| %>
	<%= f.input :title %>
	<%= f.input :description, :input_html => { :rows => 8} %>
	<% if @app.image.present? %>
		<span><strong>当前程序图片</strong></span><br>
		<%= image_tag(@app.image.thumb.url) %>
	<% end %>
	<%= f.input :image, as: :file %>
	<%= f.select :category_id, @categories %>
	<%= f.input :is_hidden %>
	<%= f.submit "Submit", disable_with: "Submiting...", class: "btn btn-default" %>
	<% end %>
