<div class="container-fluid text-center">

	<div class="jumbotron">
  <h1 class="display-3">FireFinder微信小程序</h1>
  <h3 class="lead">分享/发现/创造</h3>
  <hr class="my-4">
  <p>来FireFinder找到想要的，让一切变得简单；来FireFinder分享，让生活变得美好！</p>
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/apps/new" role="button"><i class="fa fa-users fa-fw" aria-hidden="true"></i>快乐分享</a>
  </p>
</div>
</div>

<div class="container-fluid">
	<div class="row">
		<h1 class="current-category"><%= params[:category] %></h1>
			<% if @apps.count == 0 %>
				<h1>Hi!，该类别没有小程序哦！</h1>
			<% else %>

			<% @apps.each do |app| %>

				<div class="col-md-4">

					<div class="panel panel-default">
             <div class="panel-body">
                <div class="row">
                  <div class="col-md-4">

					<%= link_to app_path(app) do  %>
						
						<% if app.image.present? %>
							<%= image_tag(app.image.thumb.url, class: "thumbnail img_circle") %>
						<% else %>
							<%= image_tag("http://placehold.it/15x15&text=No Pic", class: "thumbnail") %>
						<% end %>
						
					<% end %>
					</div>

					<div class="col-md-8 message">
						<h4><%= app.title %></h4>
							<%= pluralize(app.votes.count, "vote") %>
							<%= button_to('投上一票', upvote_app_path(app), method: :post, class: "btn btn-xs btn-success") %>            
					</div>
				</div>
			</div>
			</div>
			</div>
			<% end %>
		<% end %>
	</div>
</div>

	<div class="text-center">
      <%= will_paginate(@apps, renderer: BootstrapPagination::Rails) %>
  </div>

	


