<div class="container">
	<div class="col-md-6">
		<% if @app.image.present? %>
			<%= image_tag(@app.image.medium.url, class: "thumbnail") %>
		<% else %>
			<%= image_tag("http://placeholder.it/400x400&text=No Pic", class: "thumbnail") %>
		<% end %>
	</div>

	<div class="col-md-6">
		<h2><%= @app.title %></h2>
			<div style="height: 100px;">
				<p>
					<%= simple_format(@app.description) %>
				</p>
			</div>
			<div>发表时间：<%= @app.created_at.strftime("%Y-%m-%d") %></div><br>
			
		
			<div class="btn-group btn-group-justified">
				<% if current_user && current_user == @app.user %>
					<%= link_to("编辑", edit_app_path(@app), class: "btn btn-xs btn-default") %>
					<%= link_to("删除", app_path(@app), class: "btn btn-xs btn-default") %>
					<%= link_to("返回列表", apps_path, class: "btn btn-xs btn-default") %>
				<% end %>
			</div>
	
	</div>	
</div>

